<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>UeU+vaOsME7JHgPKYbDzB2HcJM6clh+6ze8Mi2w2lJn5n/jJ8Wk8NKLBPtmkGzBYUMyrRAG0dQ5zRIiv22zUkkUNnqCxJgMr6+IyyT+NRqAb/vjLRJ42+zV6RWc1bP6J7jWik7mzBVK7FNadRhpyD1aV01miOrc0jhU+xmXDGfvzy4zL+XWaJPAHLbMTmxDdIdN3hcVfLiLkVoy7SlxfvQ4BmHzWxHs2kwfrnMi+cqAM+73x+wp48YJcTXq0oYv4YXfqZFQXKNKpp3hILLdl26ZWzvfsSEDunk11NlKrYjIz+C5YboZq+BQ8P+ttrP8tefI5Xw3M4xGYgOMH9ob8gw==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>Hk44CJ4K3KbR3YIxITt9dEyyLtktztYW+OCmF8hBb6c1BkUQYZgTVbMLinzCNXhi</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>